
params {

    pod5_dir         =  ''
    
    dorado_folder    =  '/pool_sas/longseqservice/workspace/us/resources/software/dorado-0.8.1-linux-x64'
    
    dorado_model     =   'hac,5mCG_5hmCG'
    
    dorado_kit       =   'SQK-NBD114-24'

    genome           =   '/pool_sas/longseqservice/workspace/us/resources/ref/hg38/hg38.fa'

}

process {
    cpus = 32
    memory = '100 GB'
}

conda {
    enabled = true
    autoActivate = true 
}
